.wish-table__head-data {
  min-width: 350px;
}

.wish-table__name {
  min-width: 465px;
  padding-left: 20px;
  text-align: start;

  border-left: 1px solid #999999;
  box-sizing: border-box;
}

.wish-table__head-name {
  min-width: 465px;
}

.wish-table__title-name {
  min-width: 465px;
}

.wish-table__head-wish {
  padding-left: 15px;
}
